<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{^cancelled}}
        <meta property="og:title" content="{{fa.meeting}} #{{count}} {{fa.pcworms}}{{#speaker}} - {{subject}}{{/speaker}}" />
        {{^time_except}}
            <meta name="og:description" content="{{fa.meeting}} #{{count}} {{fa.pcworms}} {{fa.default_time}} {{#speaker}} {{fa.about}} {{subject}} {{fa.presented_by}} {{speaker}}{{/speaker}}"/>
        {{/time_except}}
        {{#time_except}}
            <meta name="og:description" content="{{fa.meeting}} #{{count}} {{fa.pcworms}} {{fa.just_this_week}} {{time_except}} {{#speaker}} {{fa.about}} {{subject}} {{fa.presented_by}} {{speaker}}{{/speaker}}"/>
        {{/time_except}}
    {{/cancelled}}
    {{#cancelled}}
        <meta property="og:title" content="{{fa.meeting}} #{{count}} {{fa.pcworms}}{{#speaker}} - {{subject}}{{/speaker}} {{fa.cancelled}}" />
        <meta name="og:description" content="{{fa.meeting}} #{{count}} {{fa.pcworms}} {{#speaker}} {{fa.about}} {{subject}}{{/speaker}} {{fa.cancelled}}"/>
    {{/cancelled}}
    <meta property="og:url" content="https://meet.pcworms.ir" />
    <meta property="og:image" content="./preview.png" />
    <title>دورهمی‌های کرم‌های کامپیوتر</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&family=Vazirmatn:wght@400;700&display=swap"
        rel="stylesheet">
    {{^cancelled}}
    <script>
        var countDownDate = new Date("{{date}}").getTime();
        var finishDate = countDownDate + (1.5 * 3600 * 1000);

        // Update the count down every 1 second
        var x = setInterval(function () {
            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            if (now > finishDate) {
                document.getElementById("counter").innerHTML = "❌ خاتمه یافت";
                document.getElementById("link").innerHTML = "لینک جلسه هم در گروه های ما در تلگرام و ماتریکس اعلام شده بود!";
            } else if (distance < 0) {
                clearInterval(x);
                document.getElementById("counter").innerHTML = "در حال برگزاری ...";
                document.getElementById("link").innerHTML = "لینک جلسه در گروه های ما در تلگرام و ماتریکس اعلام شده";
            } else {
                // Time calculations for days, hours, minutes and seconds
                distance = Math.floor(distance / 1000)
                var days = Math.floor(distance / (3600 * 24));
                distance %= 3600 * 24;
                var res = days > 0 ? days + " روز" : "";
                if (distance > 0) res += " و ";

                var hours = Math.floor(distance / 3600);
                distance %= 3600;
                if (hours > 0) res += hours + " ساعت";
                if (distance > 0) res += " و ";
                var minutes = Math.floor(distance / 60);
                distance %= 60;
                if (minutes > 0) res += minutes + " دقیقه"
                if (distance > 0) res += " و "
                var seconds = distance;

                // Display the result in the element with id="demo"
                var res = days + " روز";
                res += days > 0 && hours > 0 ? " و " : ""
                res += hours > 0 ? hours + " ساعت" : "";
                res += hours > 0 && minutes > 0 ? " و " : ""
                res += minutes > 0 ? minutes + " دقیقه" : "";
                res += minutes > 0 && seconds > 0 ? " و " : ""
                res += seconds > 0 ? seconds + " ثانیه" : "";
                res += " دیگر"
                const regex = /\d/g
                let nums = '۰۱۲۳۴۵۶۷۸۹';
                res = res.replace(regex, function (d) {
                    return nums[d]
                }
                )
                document.getElementById("counter").innerHTML = res;
            }


        }, 1000);
    </script>
    {{/cancelled}}
</head>

<body class="text-light">
    <div class="container-fluid">
        <div class="row mt-2 text-center" style:"margin-top:0 !important">
            <div class="col d-flex  align-items-center justify-content-center">
                <span class="big-text d-inline-block">#{{count}}</span>
                <img class="logo" src="./assets/meeting-logo.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <h1 class="fs-1">دورهمی های کرم‌های کامپیوتر</h1>
                {{#time_except}}
                <small>⚠️ {{fa.just_this_week}} {{time_except}}</small>
                {{/time_except}}
                {{^time_except}}
                <small>هر جمعه ساعت ۱۸</small>
                {{/time_except}}
            </div>
        </div>
        {{#speaker}}
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 p-2 subject-bg">
                <div class=" row align-items-center">
                    <div class="col-auto float-start text-center"><img src="{{profile}}" class="profile"></div>
                    <div class="col">
                        <small class="speaker d-block">
                            {{speaker}}:
                        </small>
                        <h2 class="subject">{{subject}}</h2>
                        <div class="text-center">
                        {{#cancelled}}
                            <p>{{fa.cancelled}}</p>
                        {{/cancelled}}
                        {{^cancelled}}
                            <small class="time" id="counter"></small>
                        {{/cancelled}}
                        </div>
                    </div>
                </div>
            </div>
            {{/speaker}}
            {{^speaker}}
            <div class="row justify-content-center text-center">
                <div class="text-center">
                    <small id="counter"></small>
                </div>
            </div>
            {{/speaker}}
            <div class="text-center">
                <a href="https://pcworms.ir/pcworms-chatrooms/">
                    <small id="link">
                        ℹ️ لینک جلسه در گروه های ما در تلگرام و ماتریکس اعلام خواهد شد
                    </small>
                </a>
            </div>
        </div>
</body>

</html>
