html, body{
    height: 1024px;
    width: 1024px;
}

.container-fluid{
    position: absolute;
    top: 50%;
    left:0;
    transform: translateY(-50%);
}

.profile{
    width: 200px;
}

.logo {
    width: 40vw !important;
}

.cancelled{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    backdrop-filter: blur(3px) grayscale(70%);
}
